<!--田国庆编写-->
<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>996也付不起首付队</title>

		<!--favicon -->
		<link rel="icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon"/>

		<!--Bootstrap.min css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">

		<!--Icons css-->
		<link rel="stylesheet" href="{% static 'assets/css/icons.css' %}">

		<!--Style css-->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

		<!--mCustomScrollbar css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/scroll-bar/jquery.mCustomScrollbar.css' %}">

		<!--Sidemenu css-->
		<link rel="stylesheet" href="{% static 'assets/plugins/toggle-menu/sidemenu.css' %}">
		<!--选择框的实现-->
		<link rel="stylesheet" type="text/css" href="{% static 'assets/css/city-picker.css' %}">
		
		<style type = "text/css">
			#myInfo{
					visibility:hidden;
					}	
		</style>
		
		<style>
            .tcbg{
             margin-left:-14px;
             margin-top:-10px;
            }
        </style>	
		<style>
			.keifu{position:fixed;right:0;top:20%;width:120px;z-index:9999;}
			.keifu .keifu_box{background:#f5f5f5 none repeat scroll 0 0;border:1px solid #dfdfdf;float:left;width:118px;}
			.kf-nr span{font-size:18px;}
			.kf-code >img{width:111px;}
		</style>
		
	</head>

	<body class="app ">

		<div id="spinner"></div>

		<div id="app">
			<div class="main-wrapper" >
				<nav class="navbar navbar-expand-lg main-navbar">
					<a class="header-brand" href="../index">
						<img src="{% static 'assets/img/brand/logo.png' %}" class="header-brand-img" alt="Kharna-Admin  logo">
					</a>
					<form class="form-inline mr-auto">
						<ul class="navbar-nav mr-3">
							<li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
							<li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-md-none navsearch"><i class="ion ion-search"></i></a></li>
						</ul>
						<!-- <div class="search-element"> -->
							<!-- <input class="form-control" type="search" placeholder="Search" aria-label="Search"> -->
							<!-- <button class="btn btn-primary" type="submit"><i class="ion ion-search"></i></button> -->
						<!-- </div> -->
					</form>
					<ul class="navbar-nav navbar-right">
						<li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion-ios-email-outline"></i></a>
							<div class="dropdown-menu dropdown-list dropdown-menu-right">
								<div class="dropdown-header">Messages
									<div class="float-right">
										<a href="#">View All</a>
									</div>
								</div>
								<div class="dropdown-list-content">
									<a href="#" class="dropdown-item dropdown-item-unread">
										<img alt="image" src="{% static 'assets/img/avatar/avatar-1.jpeg.jpg' %}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Stewart Ball</b>
													<p>Your template awesome</p>
												</div>
												<div class="time">6 hours ago</div>
											</div>

										</div>
									</a>
									<a href="#" class="dropdown-item dropdown-item-unread">
										<img alt="image" src="{% static 'assets/img/avatar/avatar-2.jpeg.jpg' %}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Jonathan North</b>
													<p>Your Order Shipped.....</p>
												</div>
												<div class="time">45 mins ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<img alt="image" src="{% static 'assets/img/avatar/avatar-4.jpeg.jpg' %}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Victor Taylor</b>
													<p>Hi!, I' am web developer</p>
												</div>
												<div class="time"> 8 hours ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<img alt="image" src="{% static 'assets/img/avatar/avatar-3.jpeg.jpg' %}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Ruth	Arnold</b>
													<p>Hi!, I' am web designer</p>
												</div>
												<div class="time"> 3 hours ago</div>
											</div>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<img alt="image" src="{% static 'assets/img/avatar/avatar-5.jpeg.jpg' %}" class="rounded-circle dropdown-item-img">
										<div class="dropdown-item-desc">
											<div class="dropdownmsg d-flex">
												<div class="">
													<b>Sam	Lyman</b>
													<p>Hi!, I' am java developer</p>
												</div>
												<div class="time"> 15 mintues ago</div>
											</div>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link  nav-link-lg beep"><i class="ion-ios-bell-outline"></i></a>
							<div class="dropdown-menu dropdown-list dropdown-menu-right">
								<div class="dropdown-header">Notifications
									<div class="float-right">
										<a href="#">View All</a>
									</div>
								</div>
								<div class="dropdown-list-content">
									<a href="#" class="dropdown-item">
										<i class="fa fa-users text-primary"></i>
										<div class="dropdown-item-desc">
											<b>So many Users Visit your template</b>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<i class="fa fa-exclamation-triangle text-danger"></i>
										<div class="dropdown-item-desc">
											<b>Error message occurred....</b>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<i class="fa fa-users text-warning"></i>
										<div class="dropdown-item-desc">
											<b> Adding new people</b>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<i class="fa fa-shopping-cart text-success"></i>
										<div class="dropdown-item-desc">
											<b>Your items Arrived</b>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<i class="fa fa-comment text-primary"></i>
										<div class="dropdown-item-desc">
											<b>New Message received</b> <div class="float-right"><span class="badge badge-pill badge-danger badge-sm">67</span></div>
										</div>
									</a>
									<a href="#" class="dropdown-item">
										<i class="fa fa-users text-primary"></i>
										<div class="dropdown-item-desc">
											<b>So many Users Visit your template</b>
										</div>
									</a>
								</div>
							</div>
						</li>
						<li class="dropdown dropdown-list-toggle">
							<a href="#" class="nav-link nav-link-lg full-screen-link">
								<i class="ion-arrow-expand"  id="fullscreen-button"></i>
							</a>
						</li>
						<li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
							<i class="ion ion-android-person"></i>
							<div class="d-sm-none d-lg-inline-block">{{ username }}</div></a>
						</li>
					</ul>
				</nav>

				<aside class="app-sidebar">
					<div class="app-sidebar__user">
					    <div class="dropdown">
							<a class="nav-link pl-2 pr-2 leading-none d-flex" data-toggle="dropdown" href="#">
{#								<img alt="image" src="{% static 'assets/img/avatar/avatar-1.jpeg' %}" class=" avatar-md rounded-circle">#}
								<span class="ml-2 d-lg-block">
									<span class="text-white app-sidebar__user-name mt-5">{{ username }}</span><br>
								</span>
							</a>
						</div>
					</div>
						<li class="slide">
							<a class="side-menu__item"  href="../index"><i class="side-menu__icon fa fa-desktop"></i><span class="side-menu__label">主页</span></a>
						</li>
						<li>
							<a class="side-menu__item" href="../recommend"><i class="side-menu__icon fa fa-flask"></i><span class="side-menu__label">房源推荐</span></a>
						</li>
						<li class="slide">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-tasks"></i><span class="side-menu__label">房价信息</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="../houseinfo" class="slide-item"> 城市房价</a></li>
								<li><a href="../compare" class="slide-item"> 房价对比</a></li>
								
							</ul>
						</li>
						<li class="slide">
						    <a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-paw"></i><span class="side-menu__label">房价分析</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="../ranking" class="slide-item"> 房价排行</a></li>
								<li><a href="../predict" class="slide-item">房价预测</a></li>
							</ul>
						</li>
						<li class="slide">
							<a class="side-menu__item"  href="../community"><i class="side-menu__icon fa fa-table"></i><span class="side-menu__label">社区</span></a>
							
						</li>
						<li class="slide" id = "charger">
							<a class="side-menu__item" data-toggle="slide" href="#"><i class="side-menu__icon fa fa-file-text"></i><span class="side-menu__label">管理员功能</span><i class="angle fa fa-angle-right"></i></a>
							<ul class="slide-menu">
								<li><a href="../usermanage" class="slide-item">用户管理</a></li>
								<li><a href="../community_m" class="slide-item">帖子管理</a></li>
							</ul>
						</li>
					</ul>
				</aside>

	<div class="app-content">
					<section class="section">
					<!-- //城市选择 -->
    <div class="card">
		<div class="card-header">
			<h4>切换城市</h4>
		</div>
		<div class="card-body">
			<div class="city-picker-selector" id="city-picker-search">
		<div class="selector-item storey province">
			<a href="javascript:;" class="selector-name reveal df-color ">请选择省份</a>
			<input type="hidden" name="userProvinceId" class="input-price val-error" value="" data-required="userProvinceId">
			<div class="selector-list listing hide">
				<div class="selector-search">
					<input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
				</div>
				<ul>
					<li>北京市</li>
					<li>天津市</li>
				</ul>
			</div>
		</div>
		<div class="selector-item storey city">
			<a href="javascript:;" class="selector-name reveal df-color forbid">请选择城市</a>
			<input type="hidden" name="userCityId" class="input-price val-error" value="" data-required="userCityId">
			<div class="selector-list listing hide">
				<div class="selector-search">
					<input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
				</div>
				<ul></ul>
			</div>
		</div>
		<div class="selector-item storey district">
			<a href="javascript:;" class="selector-name reveal df-color forbid">请选择区县</a>
			<input type="hidden" name="userDistrictId" class="input-price val-error" value="" data-required="userDistrictId">
			<div class="selector-list listing hide">
				<div class="selector-search">
					<input type="text" class="input-search" value="" placeholder="拼音、中文搜索">
				</div>
				<ul></ul>
			</div>
		</div>
	</div>
        </div>
    </div>

                        <!-- //房子属性选择 -->
                        <dl class="card">
                            <div class="card-header">
                                <h4>快速选房</h4>
                            </div>
                            <dl class="card-body">
                                <dl class="fast_select_house">
                                    <dl class="fshouse_top" style="position: relative;;">
                                        <!-- <div id="loadingauto" style="display: none; position: absolute;top: 130px;left: 268px;z-index: 666;"><img src="http://dl.cityhouse.cn/js/layer/skin/default/loading-2.gif"></div> -->
                                        <dl class="fshouse_option">

                                            <!-- <dt>区域：</dt> -->
                                            <!-- <dd id="distse"> -->
                                            <!-- <label><input type="radio" value="shiqu" name="dist" checked="true" >蚌埠&nbsp;&nbsp;</label> -->
                                            <!-- <label><input type="radio" value="GZ" name="dist">固镇县&nbsp;&nbsp;</label> -->
                                            <!-- <label><input type="radio" value="HY" name="dist">怀远县&nbsp;&nbsp;</label> -->
                                            <!-- <label><input type="radio" value="WH" name="dist">五河县&nbsp;&nbsp;</label> -->
                                            <!-- </dd> -->

                                            <dt>用途：</dt>
                                            <br>
                                            <dd id="propse">
                                                <label><input type="radio" value="11" name="proptype" checked> 住宅 &nbsp;&nbsp;</label>
                                                <label><input type="radio" value="21" name="proptype"> 办公
                                                    &nbsp;&nbsp;</label>
                                                <label><input type="radio" value="22" name="proptype"> 商铺
                                                    &nbsp;&nbsp;</label>
                                                <label><input type="radio" value="12" name="proptype"> 普通公寓 &nbsp;&nbsp;</label>
                                                <label><input type="radio" value="16" name="proptype"> 酒店式公寓 &nbsp;&nbsp;</label>
                                                <label><input type="radio" value="13" name="proptype"> 商住
                                                    &nbsp;&nbsp;</label>
                                            </dd>
                                            <br>
                                            <!-- <dt style="line-height: 59px;">总价：</dt> -->
                                            <br>
                                            <dt>均价：</dt>
                                            <dd id="pricese">
                                                <!-- <a href="javascript:;" style="float:left;margin-top:15px;margin-right:6px;">不限</a> -->
                                                <!-- <div class="fshouse_price_range" style="padding-top: 38px;"> -->
                                                <!-- </div> -->
                                                <!-- <div class="clear"></div> -->
                                                <br>
                                                <label><input value="1" name="brse" type="radio">5000-10000&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <label><input value="2" name="brse" type="radio">10000-20000&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <label><input value="3" name="brse" type="radio">20000-40000 &nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <label><input value="4" name="brse" type="radio">40000-80000&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <label><input value="5" name="brse" type="radio">80000及以上&nbsp;&nbsp;&nbsp;&nbsp;</label>
                                                <span class="s-price">(元/㎡)</span>
                                            </dd>
                                            <div>
                                                <br>
                                                <button class="btn btn-primary m-b-5 m-t-5" onclick="show()">房源查询
                                                </button>
                                            </div>
                                        </dl>
                                    </dl>
                                </dl>
                                <div class="clear"></div>
                            </dl>
                        </dl>

                            <!-- 我用到的表格 -->
								
									<div id = "myInfo" class="card">
									<!-- <div class="card"> -->
										<div class="card-header">
											<h4>热门小区</h4>
										</div>
										<div class="card-body p-0">
											<div class="table-responsive">
												<table class="table table-striped mb-0 text-nowrap">
                                                    <thead>
                                                    <tr>
                                                        <th>小区名</th>
                                                        <th>小区地址</th>
                                                        <th>用途</th>
                                                        <th>平均房价</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody id="mytable">
                                                    {% for item in data%}
                                                        <tr>
                                                        <td>{{ item.name }}</td>
                                                        <td>{{ item.address }}</td>
                                                        <td>{{ item.usage }}</td>
                                                        <td>{{ item.price }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
												</table>
											</div>
										</div>
									</div>
									<!--设置隐藏风格-->
									
										<!--我用到的表格结束-->
								
    
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?435bf6d47bee0643980454513deeb34f";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
		</section>
        </div>
				</div>

			</div>
	</body>
    <!--Jquery.min js-->
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>

    <!--popper js-->
    <script src="{% static 'assets/js/popper.js' %}"></script>

    <!--Tooltip js-->
    <script src="{% static 'assets/js/tooltip.js' %}"></script>

    <!--Bootstrap.min js-->
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

    <!--Jquery.nicescroll.min js-->
    <script src="{% static 'assets/plugins/nicescroll/jquery.nicescroll.min.js' %}"></script>

    <!--Scroll-up-bar.min js-->
    <script src="{% static 'assets/plugins/scroll-up-bar/dist/scroll-up-bar.min.js' %}"></script>

    <!--Sidemenu js-->
    <script src="{% static 'assets/plugins/toggle-menu/sidemenu.js' %}"></script>

    <!--mCustomScrollbar js-->
    <script src="{% static 'assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <!--Jquery.knob js-->
    <script src="{% static 'assets/plugins/othercharts/jquery.knob.js' %}"></script>

    <!--Jquery.sparkline.min js-->
    <script src="{% static 'assets/plugins/othercharts/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'assets/js/othercharts.js' %}"></script>

    <!--Scripts js-->
    <script src="{% static 'assets/js/scripts.js' %}"></script>
    <script src="{% static 'assets/js/dataclick.js' %}"></script>
    <script src="{% static 'assets/js/widgets.js' %}"></script>
    <script src="{% static 'assets/js/apexcharts.js' %}"></script>
    <!--选择城市-->
    <script type="text/javascript" src="{% static 'js/citydata.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/cityPicker-1.0.0.js' %}"></script>
	<script type="text/javascript">
		$(function () {

			//模拟城市-无联动/无搜索
			var selector = $('#city-picker-selector').cityPicker({
				dataJson: cityData,
				renderMode: true,
				search: false,
				linkage: false
			})
			$('#city-picker-selector').on('choose-province.citypicker', function(event, tagert, storage) {
				console.log(storage);
			});

			//设置城市
			selector.setCityVal([{
				'id': '110000',
				'name': '北京市'
			}, {
				'id': '110100',
				'name': '北京市'
			}, {
				'id': '110108',
				'name': '海淀区'
			}]);

			//模拟城市-联动/搜索
			$('#city-picker-search').cityPicker({
				dataJson: cityData,
				renderMode: true,
				search: true,
				linkage: true
			});

			//原生城市-无联动
			var select = $('.city-picker-select').cityPicker({
				dataJson: cityData,
				renderMode: false,
				linkage: false
			});

			//设置城市
			select.setCityVal([{
				'id': '140000',
				'name': '山西省'
			}, {
				'id': '140100',
				'name': '太原市'
			}, {
				'id': '140105',
				'name': '小店区'
			}]);
		});
	</script>
	<!-- //显示的功能 -->
    <script type="text/javascript">
        function show() {
            document.getElementById("myInfo").style.visibility = "visible";
            var city = $("input[name = 'userCityId']").val();
            var district = $("input[name = 'userDistrictId']").val();
            var usage = $("input[name='proptype']:checked").val();
            var price = $("input[name='brse']:checked").val();
            $.post("/recommend_show/", {
                "city": city,
                "district": district,
                "price": price,
            }, function (data, status) {
                $("#mytable").html(data)
            })
        }
    </script>
    <script>
        var isShow = false;
        var cacheVal = localStorage.getItem("ExpiredsignFront");
        if (isShow && !cacheVal) {
            layer.open({
                type: 1,
                title: false,
                shadeClose: true,
                shade: 0.3,
                area: ['544px', '294px'],
                skin: 'layui-layer-nobg', //没有背景色
                content: "<img class='tcbg' src='/images/pop/tc.png'>",
                end: function () {
                    localStorage.setItem("ExpiredsignFront", "true");
                }

            })
        }

        var params = {district: '', urbanid: '1', proptype: 11, p1: '', p2: '', sq1: '', sq2: '', br: '', flag: 1};
        $('#distse input').click(function () {
            params.urbanid = '';
            params.district = '';
            if ($(this).val() == 'shiqu') {
                params.urbanid = 1;
            } else {
                params.urbanid = '';
                location.href = "/?dist=" + $(this).val();
                return;
                //params.district=$(this).val();
            }
            makeautolist(params)
        })

        //我自己的

        //var act = document.getElementsById("myInfo");	//myinfo是我的信息 -->
        //<!-- act.style.display="block"; -->
        //	<!-- } -->
        //我自己的JS
        $('#propse input').click(function () {
            params.proptype = $(this).val();
            params.p1 = '';
            params.p2 = '';
            params.sq1 = '';
            params.sq2 = '';
            params.br = '';
            makeautolist(params)
        });
        $('#pricese').on('click', 'a', function () {
            params.p1 = $(this).attr('start');
            params.p2 = $(this).attr('end');
            params.sq1 = '';
            params.sq2 = '';
            params.br = '';
            $(this).parents('#pricese').find('.s-num').removeClass('s-color');
            $(this).find('.s-num').addClass('s-color');
            makeautolist(params)
        });

        $('#arease').on('click', 'input', function () {
            var area_ = $(this).val().split('-');
            params.sq1 = area_[0];
            params.sq2 = area_[1];
            params.br = '';
            makeautolist(params)
        });

        $('#brse').on('click', 'input', function () {
            params.br = $(this).val();
            makeautolist(params)
        });

        $('.fshouse_btn input').click(function () {
            var thsub = $(this);
            $.ajax({
                url: "/forsale/geturlajax.html",//保存
                data: {"p": params},
                type: 'post', dataType: "json", beforeSend: function () {
                    $('#loadingauto').show();
                },
                success: function (d) {
                    location.href = d.url;
                }
            })
        })

        makeautolist(params)

        function makeautolist(params) {
            $.ajax({
                url: "{% static 'default/autolist.html' %}",
                data: {"p": params},
                type: 'post', dataType: "json",
                beforeSend: function () {
                    $('#loadingauto').show();
                },
                success: function (d) {
                    $('#loadingauto').hide();
                    if (d.al.totalCount) {
                        $('#housenum').text(d.al.totalCount)
                    }
                    if (d.al.pricelist) {
                        var pricelist = '';
                        var list = d.al.pricelist.items;
                        var allcount = d.al.pricelist.totalCount;
                        for (x in list) {
                            pricelist += '<div class="hm-bk">\
                                        <a href="javascript:void(0)" start="' + list[x].start + '" end="' + list[x].end + '">\
                                            <span class="s-num" style="height:' + ((list[x].count / allcount) * 40) + 'px;">\
                                              <strong class="set">' + (list[x].count ? list[x].count : '') + '</strong>\
                                            </span>\
                                            <span class="s-price">' + list[x].title + '</span>\
                                        </a>\
                                    </div>';
                        }
                        pricelist += '<div class="hm-bk unit">\
                                        <span class="s-num"><span class="set">套</span></span>\
                                        <span class="s-price">万元</span>\
                                    </div>';
                        $('#pricese .fshouse_price_range').html(pricelist)

                        if (list.length > 0) {
                            $('#pricese').show().prev().show();
                        } else {
                            $('#pricese').hide().prev().hide();
                        }
                    }
                    if (d.al.arealist) {
                        var arealist = '';
                        var list = d.al.arealist.items;
                        var allcount = d.al.arealist.totalCount;
                        for (x in list) {
                            arealist += '<label><input type="radio" value="' + list[x].start + '-' + list[x].end + '" name="areasel">\
                             ' + list[x].title + ' &nbsp;&nbsp;&nbsp;&nbsp;</label>';
                        }
                        $('#arease #areaseitems').html(arealist)
                        if (list.length > 0) {
                            $('#arease').show().prev().show();
                        } else {
                            $('#arease').hide().prev().hide();
                        }
                    }


                }
            })
        }
    </script>
<script>
$(function(){
    $('#feedbackxuqiu').click(function(){
        layer.open({
          type: 2,
          title: false,
          shadeClose: true,
          shade: 0.3,
          area: ['600px','430px'],
          content: "/default/feedBackXuqiu.html" //iframe的url
        }); 
    })
})
</script>
<script>
            var charger = {{ charger }}
            if(charger === 1) {
                document.getElementById("charger").style.visibility = "visible";
            }
            else {
                document.getElementById("charger").style.visibility = "hidden";
            }
</script>
</html>
